*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(48, 60, 65, 0.75),rgba(172, 156, 156, 0)),url(library2.jfif);
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book2{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #f54f07;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    color:#f1c681;
    padding: 10%;
    animation: animate 1s linear infinite ;
}
@keyframes animate{
    0%
    {
        color: #fff;
    }
    100%
    {
        text-shadow: 10 10 10px #f1c681, 20 20 20px #f1c681, 40 40 40px #f1c681 , 70 70 140px #f1c681 , 100 100 200px #f1c681;
    }
}
.content p{
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: lightblue;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f1c681;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #f54f07;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9b9ca5;
}